/* 04-styles.css */

/* Navbar section */
@media screen and (max-width: 767px) {
    :root {
        --nav-item-margin: 0;
    }

    .navbar-menu {
        flex: 1;
    }

    .header .nav {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
}

.menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
}

.menu-icon .navicon {
    background: #ffffff;
    display: block;
    width: 2rem;
    height: .2rem;
    position: relative;
    transition: background .2s ease-out;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffff;
    transition: all .2s ease-out;
}

.menu-icon .navicon:before {
    top: .7rem;
}

.menu-icon .navicon:after {
    top: -.7rem;
}

.menu-btn {
    display: none;
}
