/* 08-styles.css */

/* Card WORK */
@media screen and (max-width: 767px) {
    .card-work .card-inner {
        --text-color: #ffffff;
        position: relative;
    }

    .card-work .card-title {
        opacity: 1;
    }

    .card-work .card-title a {
        padding: 2rem 1rem 0 1rem;
    }
}
