/* 09-styles.css */

/* Footer section */
@media screen and (max-width: 767px) {
    :root {
        --footer-padding: 5rem 2rem 1rem;
    }

    .footer .social.nav,
    .footer .footer-nav {
        text-align: center;
    }

    .footer .social.nav li + li,
    .footer .footer-nav li + li {
        padding-left: 2rem;
    }
}
