/* File: styles/12-style.css */
:root {
  --section-title-margin: 0;
  --section-title-color: var(--color-black);
}

.section-title {
  font-family: var(--font-family-title);
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-bold);
  margin: var(--section-title-margin);
  color: var(--section-title-color);
}
