/* 30-style.css */

:root {
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
}

h1 {
  font-size: var(--font-size-large);
}

p {
  font-size: var(--font-size-medium);
}

small {
  font-size: var(--font-size-small);
}
