/* 31-style.css */

/* Testimonials Section Styling */
.card-testimonial {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-light-gray);
  border-radius: 0.5rem;
  position: relative;
}

.card-testimonial .card-quote {
  position: relative;
  font-size: 1.2rem;
  color: var(--color-dark-gray);
}

.card-testimonial .card-quote::before {
  content: "\201C"; /* Opening quote */
  position: absolute;
  top: -4.5rem;
  left: -1rem;
  color: #efeded;
  font-size: 10rem;
  z-index: -1;
}
