/* 32-style.css */

/* Global Styles */
:root {
  --transition-duration: 0.3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.0);
}

/* Works Section Transitions */
.card-work:hover .card-image img {
  transform: scale(1.2);
}

.card-work:hover .card-outer {
  transform: scale(0.95);
}

/* Nav Link Transitions */
.nav .nav-link::before {
  transition: width var(--transition-duration) var(--transition-cubic-bezier);
}

.nav .nav-link {
  transition: color var(--transition-duration) var(--transition-cubic-bezier);
}

/* Button Transitions */
.button:hover {
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

/* Additional Transitions */
.card-work .card-inner,
.card-work:hover .card-inner,
.card-work:hover .card-image {
  transition: transform var(--transition-duration) var(--transition-cubic-bezier);
}
