/* Transition settings */
:root {
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0, 1.0);
}

/* Hover effects for .card-image and .card-outer */
.card-work:hover .card-image,
.card-work:hover .card-outer {
    transition: transform .3s cubic-bezier(0.17, 0.67, 0, 1.0);
}

/* Transition for .nav .nav-link::before */
.nav .nav-link::before {
    transition: all .3s cubic-bezier(0.17, 0.67, 0, 1.0);
}

/* Hover state of .button */
.button:hover {
    transition: background-color .3s cubic-bezier(0.17, 0.67, 0, 1.0);
}

/* Transition for .card-work .card-inner */
.card-work .card-inner {
    transition: all .3s cubic-bezier(0.17, 0.67, 0, 1.0);
}
